<footer th:fragment="footer" class="footer">
  <p class="copyright">© 2023 Demo Inc. All Rights Reserved.</p>
  <ul class="md-flex">
    <li><a href="#">About</a></li>
    <li><a href="#">サイトマップ</a></li>
    <li><a href="#">プライバシーポリシー</a></li>
    <a href="https://www.flaticon.com/free-icons/cancel" title="cancel icons">Cancel icons created by hqrloveq - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/tick" title="tick icons">Tick icons created by kliwir art - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/loading" title="loading icons">Loading icons created by Krystsina Mikhailouskaya - Flaticon</a>  
  </ul>
</footer>